body{
	overflow-x: hidden;
}
.main-page{
	overflow: hidden;
}
.main-contents{
	overflow: hidden;
	padding: 0 20px;
	
}
.footer{
	padding: 50px 0;
}
.main-header.pc{
	display: none;
}
.reservation-m{
	padding: 0 20px;
  }
@media (min-width: 360px) {
	.container{
		padding: 40px 0px;
	}
	.container.service{
		padding-top: 100px;
	}
	.container.news
	,.footer{
		padding: 40px 20px;
	}	
	.sec-header.service{
		padding: 0 20px;
	}



}

@media (min-width: 768px) {

}
@media (min-width: 1080px) {
	.main-header-box.mobile{
		display: none;
	}
	.main-header.pc{
		display: flex;
	}
}


@media (min-width: 1920px) {
	.main-page{
		width: 100vw;
	}
	.main-header-box.mobile{
		display: none;
	}
	.main-page {
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-areas:
			'main-header-pc         main-header-pc          main-header-pc	'
			'reservation-m         	reservation-m        	reservation-m	'
			'hero-banner        	hero-banner        		hero-banner	  	'
			' .      				main-contents        		.			'
			' grid-1     			box-news       			grid-2			'
			' footer        		footer          		footer '
	}

	.main-header.pc {
		grid-area: main-header-pc;
	}
	.reservation-m {
		grid-area: reservation-m;
	}
	.container.hero-banner {
		grid-area: hero-banner;
	}
	.main-contents {
		grid-area: main-contents;
	}
	.box-news{
		grid-area: box-news;
	}
	.bg-{
		background-color: #bfbfbf;
	}
	.bg-.grid-1{
		grid-area: grid-1;
	

	}
	.bg-.grid-2{
		grid-area: grid-2;
		/* grid-column:3/4;
		grid-row: 5/6; */
	}
	.footer{
		grid-area: footer;
		background-color: #bfbfbf;	
	}
}

